.todolist {
    padding-top: 20px;
}

.table {
    width: 100%;
    border:none;
    border-collapse: collapse;
    border-radius: 4px;
}

.table th {
    padding: 10px 8px;
    text-align: start;
}

.table th:last-child {
    display: flex;
    justify-content: center;
}

.title {
    margin-bottom: 40px;
    text-align: center;
}

.empty {
    padding: 8px;
    text-align: center;
}